.container {
    align-items: center;
    background-color: black;
    background-image: url('https://images.hdqwalls.com/download/abstract-lines-dark-4k-mg-2048x1152.jpg');
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 100px;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100vw;
  }

.container img {
    width: 350px;
}
  
.ant-row {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 40%;
  justify-content: center;
  padding: 10px 30px;
}

#username {
  padding: 10px;
  font-size: 1.2em;
}

#username div {
  background-color: rgba(128, 128, 128, 0);
}

#username input {
  border: none;
  border-radius: 5px;
  display: flex;
  font-size: 1em;
  width: 300px;
  height: 20px;
  padding: 5px;
  padding-left: 10px;;
}

#username button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 5px;
  font-size: 0.9em;
  width: 90px;
}

#username button:hover, .container button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.071);
}

.container button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  border-radius: 5px;
  color: white; 
  padding: 5px;
  font-size: 1em;
  width: 150px;
}
